.image1{
    text-align: center;
    background-image: url("Rectangle 1612.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 17px;
}
/* .second-button{
    margin-left: 30px;
} */
.text{
 font-size: 14px;   
}
.navbar-brand{
   color: #24758a; 
   font-weight: bolder;
}
 .text span{
    font-size: 22px;
    font-weight: bolder;
 }
 .main4{
    background-color: #9CE6F8;
 }
 .last p{
    background-color: #70cce3;
   
  
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .main9 span{
    display: block;
    padding-top: 10px;
 }
 .hello{
    width: 70%;
 }
 .main1{
  margin-top: 60px;
 }
 a{
    color: black;
 }
 nav{
   background-color: #9CE6F8;
   height: 60px;
 }
 .btn1{
   border-color: #02D3FF;
   background-color: linear-gradient(#019cf000, #196a83);
 }
 .btn1:hover{
   border-color: #02D3FF;
   background: linear-gradient(#019cf05a, #01c4ff);
}
.btn2{
   background-color: #C1D42F;
}


   
 